grpcio==1.62.1
grpcio-tools==1.62.1
grpcio-health-checking==1.62.1
redis==5.0.3
gpiozero==2.0.1
transforms3d==0.4.1
pycocotools==2.0.7
matplotlib==3.8.4
addict==2.4.0
timm==0.9.16
torch==2.2.2
torchvision==0.17.2
transformers==4.39.3
scikit-image==0.22.0
open3d==0.18.0
